.editProg-form {
  font-family: "David Libre", serif;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  align-items: center;
  background-color: #fff;
}

.editProgram-headers {
  margin-top: 30px;
}

.editProg-button {
  font-size: 20px;
  padding: 15px;
  width: 100%;
}

.editProg-label {
  font-size: 20px;
}

.contentItemContainer {
  font-size: 22px;
  margin-bottom: 10px;
}

.editItemContainer {
  margin-bottom: 15px;
}

.editProgramRemoveButton {
  margin-left: 30px;
}
